<div class="content">

  <mat-card  class="example-container" >
    <mat-card-content>
      <div style="font-weight: bolder; font-size: 25px; text-align: center; ">
        Add New Route
      </div>
    </mat-card-content>
  </mat-card>
</div>
<br>
<mat-card  class="example-container" >
  <div class="container">
    <mat-card-content>
      <form class="date-block" ></form>
      <div>
        <mat-form-field class="form-fields" appearance="outline"  style="width: 600px; margin-left: 10px; "  >
          <mat-label>Route Name</mat-label>
          <input  matInput placeholder="Route Name"
                  type="text"
                 id="ttype"
                 name="ttype">
        </mat-form-field> <br>
      </div>
      <mat-form-field appearance="outline" class="form-fields" style="width: 600px;margin-left: 20px;">
        <mat-label> Select Category</mat-label>
        <mat-select
        >
          <mat-option>
            <ngx-mat-select-search placeholderLabel="Find category..." noEntriesFoundLabel="'No matching programme found'">
              <mat-icon ngxMatSelectSearchClear>delete</mat-icon>
            </ngx-mat-select-search>
          </mat-option>
          <mat-option >Select All</mat-option>

          <mat-option >

          </mat-option>
        </mat-select>
      </mat-form-field>

      <br>

      <div style="text-align: left;">
        <button [disabled]=""   mat-raised-button color="primary" style="width: 75px;margin-left: 8px;">Save</button>
        &nbsp;
        <button   mat-raised-button color="primary" style="width: 75px;margin-left: 10px;">Cancel</button>
      </div>
    </mat-card-content>

</div>
</mat-card>


