<div id="root-container">
  <mat-card id="root-card">
    <br>
    <mat-card>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="'/dashboard'">Dashboard</a></li>
          <li class="breadcrumb-item active">Master data</li>
          <li class="breadcrumb-item active" aria-current="page">Route Management</li>
        </ol>
      </nav>
    </mat-card>
    <div class="content">
      &nbsp;&nbsp;&nbsp;Route Management
    </div>
    <br>
    <div class="content">
      <button type="button" (click)="showAddDivision=!showAddDivision" mat-raised-button color="primary" style="width: 200px;margin-left: 10px;">Add New Route</button>
      <mat-card *ngIf="showAddDivision" class="example-container" >
        <div class="container">
          <mat-card-content>
            <div class="content">
              &nbsp;&nbsp;&nbsp;
            </div>
            <form class="date-block" ></form>
            <br />
            <div>
              <mat-form-field style="text-transform: uppercase;"class="form-fields" appearance="outline"  style="width: 600px; margin-left: 5px;" >
                <mat-label>Route Name</mat-label>
                <input  matInput type="text" placeholder="Route Name"
                        id="ttype"
                       name="ttypem">
              </mat-form-field>
            </div>
            <div  class="row">
              <mat-form-field appearance="outline" class="form-fields" style="width: 600px;margin-left: 20px;">
                <mat-label> Select Category</mat-label>
                <mat-select
                >
                  <mat-option>
                    <ngx-mat-select-search  placeholderLabel="Find category..." noEntriesFoundLabel="'No matching category found'">
                      <mat-icon ngxMatSelectSearchClear>delete</mat-icon>
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option >Select All</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div  class="row">
              <mat-form-field appearance="outline" class="form-fields" style="width: 600px;margin-left: 20px;">
                <mat-label>Active Status</mat-label>
                <mat-select [(value)]="dataModified['active']" name="active"  >
                  <mat-option [value]=true>Active</mat-option>
                  <mat-option [value]=false>Inactive</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
           <br>
            <div>
              <button type="button" mat-raised-button color="primary" style="width: 75px;margin-left: 10px;">Add</button>
              <button type="button" mat-raised-button color="primary" style="width: 75px;margin-left: 10px;">Cancel</button>
            </div>
          </mat-card-content>
        </div>
      </mat-card>
    </div>
    <br>
    <div id="table-div">
      <div class="row">
        <div class="col-sm-12">
          <ngx-datatable tableClass="table table-striped table-bordered table-hover"
                         [tableId]="'checkboxWithRowDetail'" [data]="data" [options]="options"
                         [columns]="columns">
            <ng-template #rowExpansion let-row let-rowIndex="rowIndex">
              <table class="info-table">
                <tr class="info-row">
                  <td class="info-heading">ID</td><td class="info-heading">:</td>
                  <td>{{row.id}}</td>
                </tr>
                <tr class="info-row">
                  <td class="info-heading">Route Name</td><td class="info-heading">:</td>
                  <td *ngIf="!showEditArray[rowIndex]">{{row.routeLink}}</td>
                  <td *ngIf="showEditArray[rowIndex]">
                    <mat-form-field class="mat-form-field-input" appearance="outline" floatLabel="always">
                      <mat-label>Route Name</mat-label>
                      <input [(ngModel)]="dataModified[rowIndex]['routeLink']" matInput autocomplete="off" placeholder="Route Name">
                    </mat-form-field>
                  </td>
                </tr>
                <tr class="info-row">
                  <td class="info-heading">Category</td><td class="info-heading">:</td>
                  <td *ngIf="!showEditArray[rowIndex]">{{row.categoryName}}</td>
                  <td *ngIf="showEditArray[rowIndex]">
                    <mat-form-field class="mat-form-field-select" appearance="outline" floatLabel="always">
                      <mat-label>Category </mat-label>
                      <mat-select [(value)]="dataModified[rowIndex]['categoryId_id']" name="categoryName"  placeholder="Category ">
                        <mat-option *ngFor="let category of allCategories" [value]=category.id>{{category.categoryName}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                </tr>w
                <tr class="info-row">
                  <td class="info-heading">Active Status</td><td class="info-heading">:</td>
                  <td *ngIf="!showEditArray[rowIndex]">{{row.active}}</td>
                  <td *ngIf="showEditArray[rowIndex]">
                    <mat-form-field class="mat-form-field-select" appearance="outline" floatLabel="always">
                      <mat-label>Active Status</mat-label>
                      <mat-select [(value)]="dataModified[rowIndex]['active']" name="active"  placeholder="Active Status">
                        <mat-option [value]=true>Active</mat-option>
                        <mat-option [value]=false>Inactive</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                </tr>

              </table>
              <button (click)="showEditArray[rowIndex]=!showEditArray[rowIndex]" style="width:100px;"
                      class="btn btn-primary">
                Edit
              </button>
              <button style="width:100px;margin-left: 20px" type="button" class="btn btn-primary">
                Cancel
              </button>
              <br>
              <br>
              <span>.</span>
            </ng-template>
          </ngx-datatable>
        </div>
      </div>
    </div>
    <br>
  </mat-card>
</div>
