@import "src/assets/styles/variable.scss";

.sidenav {
  background: $sidebar-alt;
  transition: all .5s ease;
  position: absolute;
  z-index: 1;
  top: 0;
  height: 90vh;
  box-shadow: 0.063rem 0 1.25rem 0 #8690a3;
  overflow-x: hidden;

}

.sidenav-collapsed {
  width: 14.9rem;
}

.sidenav-nav {
  list-style: none;
  padding-top: 0.938rem;
  margin: 0;
  margin-left: -2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  .sidenav-nav-item {
    width: 90%;
    margin-bottom: 0.0rem;

    .sidenav-nav-link {
      padding-left: 0.1rem;
      display: flex;
      align-items: center;
      height: 2.5rem;
      color: $headingtext;
      text-decoration: none;
      border-radius: 0.0rem;
      transition: all .3s ease;
      margin-top: 15px;


      .sidenav-link-icon {
        font-size: 22px;
        width: 2rem;
        min-width: 2rem;
        margin: 0 0.5rem;
        text-align: start;
      }

      .sidenav-link-text {
        margin-left: 5px;
      }
    }

    .sidenav-nav-link:hover {
      width: 100%;
      background-color: $themecolor;
      color: #000;
      .menu-collapse-icon {
        color: #000;
      }
    }
  }
}

.active {
  background-color: #fff;
  .menu-collapse-icon,
  .sidenav-link-icon,
  .sidenav-link-text {
    color: $themecolor-dark;
  }
}

.active-sublevel {
  color: $themecolor-dark !important;
  // opacity: 1 !important;
}

.menu-collapse-icon {
  font-size: 25px;
  width: 2rem;
  min-width: 2rem;
  margin: auto 0.5rem auto auto;
  text-align: center;
  color: #f3f3f3;
}

.sublevel-nav {
  list-style: none;
  margin-top: -5px;
  .sublevel-nav-item {
    .sublevel-nav-link {
      display: flow;
      align-items: start;
      height: 1.1rem;
      margin-left: 0px;
      margin-top: 0;
      color: $bodytext;
      text-decoration: none;
      border-radius: 0.625rem;
      transition: all .3s ease;

      .sublevel-link-icon {
        font-size: 4px;
        width: 3rem;
        min-width: 1rem;
        margin: 0 0.5rem;
        text-align: center;
      }

      .sublevel-link-text {
        margin-left: 0.1rem;
        font-size: 15px;
      }
    }

    .sublevel-nav-link:hover {
      color: $themecolor;
    }
  }
}

//scrollbar and visibility on hover and focus

.scrollwrap {
  overflow-y: auto;
  visibility: hidden;
  height: calc(100%);
}

.sidenav-nav,
.scrollwrap:hover,
.scrollwrap:focus {
  visibility: visible;
}

.scrollwrap_delayed {
  transition: visibility 0.5s 0.2s;
}

.scrollwrap_delayed:hover {
  transition: visibility 0.2s 0.2s;
}

// works on chrome, edge and safari
.scrollwrap::-webkit-scrollbar {
  width: 10px;
}

.scrollwrap::-webkit-scrollbar-track {
  background: transparent;
}

.scrollwrap::-webkit-scrollbar-thumb {
  background-color: #556268;
  border-radius: 20px;
}

// works on firefox
.scrollwrap {
  scrollbar-width: thin;
  scrollbar-color: #556268 transparent;
}
