@import "src/assets/styles/variable.scss";

.sidenav {
  background: #ffffff;
  transition: all .5s ease;
  position: absolute;
  z-index: 1;
  top: 0;
  height: 91vh;
  box-shadow: 0.063rem 0 1.25rem 0 #8690a3;
  overflow-x: hidden;

}

.sidenav-collapsed {
  width: 14.9rem;
}

.sidenav-nav {
  list-style: none;
  padding: 0.938rem;
  margin: 0;
  margin-left: -16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";


  .sidenav-nav-item {
    width: 100%;
    margin-bottom: 0.625rem;

    .sidenav-nav-link {
      padding-left: 0.1rem;
      display: flex;
      align-items: center;
      height: 3rem;
      color: $headingtext;
      text-decoration: none;
      border-radius: 0.625rem;
      transition: all .3s ease;
      margin-top: 5px;

      .sidenav-link-icon {
        font-size: 22px;
        width: 2rem;
        margin-right: 2px;
        min-width: 2rem;
        margin: 0.5rem;
        text-align: start;
      }

      .sidenav-link-text {
        margin-left: 9px;
        font-size: 17px;
      }
    }

    .sidenav-nav-link:hover {
      width: 100%;
      background-color: $themecolor-alt;
      color: #000;

      .menu-collapse-icon {
        color: #000;
      }
    }
  }
}

.active {
  background-color: #fff;

  .menu-collapse-icon,
  .sidenav-link-icon,
  .sidenav-link-icon1,
  .sidenav-link-text {
    color: #1976d2;
  }
}

.active-sublevel {
  color: #1976d2 !important;
  // opacity: 1 !important;
}

.menu-collapse-icon {
  font-size: 25px;
  width: 2rem;
  min-width: 2rem;
  margin: auto 0.5rem auto auto;
  text-align: center;
  color: #000000;
}

.sublevel-nav {
  list-style: none;

  .sublevel-nav-item {
    .sublevel-nav-link {
      display: flex;
      align-items: center;
      height: 3rem;
      margin-left: -70px;
      color: $bodytext;
      text-decoration: none;
      border-radius: 0.625rem;
      transition: all .3s ease;

      .sublevel-link-icon {
        font-size: 18px;
        width: 2rem;
        min-width: 2rem;
        margin: 0 0.5rem;
        text-align: center;
        margin-left: 22px;
      }

      .sublevel-link-text {
        margin-left: -0.5rem;
        font-size: 15px;
      }

    }

    .sublevel1-nav-link {
      display: flex;
      align-items: center;
      height: 3rem;
      margin-left: -32px;
      color: $bodytext;
      text-decoration: none;
      border-radius: 0.625rem;
      transition: all .3s ease;

      .sublevel1-link-icon {
        font-size: 20px;
        width: 2rem;
        min-width: 2rem;
        margin: 0 0.5rem;
        text-align: center;
      }
      .sublevel1-link-text{
        font-size: 16px;
        margin-left: -0.5rem;
      }
    }

    .sublevel-nav-link:hover {
      color: $themecolor;
    }

    .sublevel1-nav-link:hover {
      color: $themecolor;
    }
  }
}

//scrollbar and visibility on hover and focus

.scrollwrap {
  overflow-y: auto;
  visibility: hidden;
  height: calc(100% - 3.65rem);
}

.sidenav-nav,
.scrollwrap:hover,
.scrollwrap:focus {
  visibility: visible;
}

.scrollwrap_delayed {
  transition: visibility 0.5s 0.2s;
}

.scrollwrap_delayed:hover {
  transition: visibility 0.2s 0.2s;
}

// works on chrome, edge and safari
.scrollwrap::-webkit-scrollbar {
  width: 10px;
}

.scrollwrap::-webkit-scrollbar-track {
  background: transparent;
}

.scrollwrap::-webkit-scrollbar-thumb {
  background-color: #556268;
  border-radius: 20px;
}

// works on firefox
.scrollwrap {
  scrollbar-width: thin;
  scrollbar-color: #556268 transparent;
}
