<div id="root-container">
  <mat-card id="root-card">
    <br>

    <div style="margin-top:20px;margin-left: 50px; color: #4f5459" class="row">
      <h5>
        <h4>Top Division</h4>
        <ul style="list-style-type: square;color: #5b6269">
          <li>Content 1</li>
          <li>Content 2</li>
        </ul>
      </h5>
    </div>

    <!-- Start Table Division -->
    <div id="table-div">

      <!-- Horizontal Line -->
      <hr/>

      <br><br>
      <div class="row">
        <div class="col-sm-12">

          <!-- Table starts -->
          <ngx-datatable tableClass="table table-striped table-bordered table-hover"
                         [tableId]="'checkboxWithRowDetail'" [data]="gatewayRoutesModel.allGatewayRoutes"
                         [options]="options"
                         [columns]="columns">
            <!-- if you dont want checkbox -->
            <!-- delete (checkboxClick)="onCheckboxClick($event)" -->

            <!-- Table title start -->
            <ngx-caption>
              <div class="row">
                <div class="col-sm-12 col-xs-12 col-12 ">
                  <b style="margin-left: 20px">
                    Users
                  </b>
                </div>
              </div>
            </ngx-caption>
            <!-- Table title ends -->

            <!-- Row expansion area starts -->
            <ng-template class="rowExpansionTemplate" #rowExpansion let-row let-rowIndex="rowIndex">
              <div class="rowExpansionTemplateContainer">
                <br><br>
                <table class="info-table">
                    <tr class="info-row">
                      <td class="info-heading">ID</td>
                      <td class="info-heading">:</td>
                      <td class="info-data">{{row.id}}</td>
                    </tr>

                    <tr class="info-row">
                      <td class="info-heading">Route ID ( Route Name )</td>
                      <td class="info-heading">:</td>
                      <td *ngIf="!showEditArray[rowIndex]" class="info-data">{{row.routeId}}</td>
                      <td *ngIf="showEditArray[rowIndex]" class="info-data">
                        <mat-form-field class="mat-form-field-input" appearance="outline" floatLabel="always">
                          <mat-label>Route ID ( Route Name )</mat-label>
                          <input [(ngModel)]="gatewayRoutesModel.allGatewayRoutesModified[rowIndex]['routeId']" matInput autocomplete="off" placeholder="Route ID ( Route Name )">
                        </mat-form-field>
                      </td>
                    </tr>

                    <tr class="info-row">
                      <td class="info-heading">Authorization Required</td>
                      <td class="info-heading">:</td>
                      <td *ngIf="!showEditArray[rowIndex]"  class="info-data">{{row.authorizationRequired}}</td>
                      <td *ngIf="showEditArray[rowIndex]" class="info-data">
                        <mat-form-field class="mat-form-field-select" appearance="outline" floatLabel="always">
                          <mat-label>Authorization Required</mat-label>
                          <mat-select [(value)]="gatewayRoutesModel.allGatewayRoutesModified[rowIndex]['authorizationRequired']" name="authorizationRequired"  placeholder="Authorization Required">
                            <mat-option [value]=true>True</mat-option>
                            <mat-option [value]=false>False</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                    </tr>

                    <tr class="info-row">
                      <td class="info-heading">Path ( External path "Frontend <span style="font-size: 18px;">&#8594;</span> Gateway" )</td>
                      <td class="info-heading">:</td>
                      <td *ngIf="!showEditArray[rowIndex]" class="info-data">{{row.path}}</td>
                      <td *ngIf="showEditArray[rowIndex]" class="info-data">
                        <mat-form-field class="mat-form-field-input" appearance="outline" floatLabel="always">
                          <mat-label>Path ( External path "Frontend <span style="font-size: 18px;">&#8594;</span> Gateway" )</mat-label>
                          <input  [(ngModel)]="gatewayRoutesModel.allGatewayRoutesModified[rowIndex]['path']" matInput autocomplete="off" placeholder="">
                        </mat-form-field>
                      </td>
                    </tr>

                    <tr class="info-row">
                      <td class="info-heading">URI ( Internal path "Gateway <span style="font-size: 18px;">&#8594;</span> Microservice" )</td>
                      <td class="info-heading">:</td>
                      <td *ngIf="!showEditArray[rowIndex]" class="info-data">{{row.uri}}</td>
                      <td *ngIf="showEditArray[rowIndex]" class="info-data">
                        <mat-form-field class="mat-form-field-input" appearance="outline" floatLabel="always">
                          <mat-label>URI ( Internal path "Gateway <span style="font-size: 18px;">&#8594;</span> Microservice" )</mat-label>
                          <input  [(ngModel)]="gatewayRoutesModel.allGatewayRoutesModified[rowIndex]['uri']" matInput autocomplete="off" placeholder="">
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr class="info-row">
                      <td class="info-heading">Roles Allowed</td>
                      <td class="info-heading">:</td>
                      <td *ngIf="!showEditArray[rowIndex]" class="info-data">{{row.allowedRoleNames}}</td>
                      <td *ngIf="showEditArray[rowIndex]" class="info-data">
                        <div class="edit-roles-wrapper">
                          <p id="edit-roles-label">Roles Allowed</p>
                          <div *ngFor="let role of gatewayRoutesModel.allRoles">
                            <mat-checkbox [checked]="(row.allowedRoleIDs).includes(role.id)" color='primary'>{{role.roleName}}</mat-checkbox>
                          </div>
                        </div>
                      </td>
                    </tr>
                </table>

                <br>
                <!--
                <mat-form-field class="mat-form-field-input" appearance="outline" floatLabel="always">
                  <mat-label>filter</mat-label>
                  <input matInput autocomplete="off" placeholder="enter 3 or more char." #filterInput>
                </mat-form-field>
                -->

                <br>

                <button (click)="showEditArray[rowIndex]=!showEditArray[rowIndex]" style="width:100px;"
                        class="btn btn-primary">
                  Edit
                </button>
                <button style="width:100px;margin-left: 20px" type="button" class="btn btn-primary">
                  Delete
                </button>


                <br><br><br>

                <span>.</span>
              </div>

            </ng-template>


            <!-- Row expansion area ends -->


          </ngx-datatable>
          <!-- Table ends -->

        </div>
      </div>
    </div>
    <!-- End Table Division -->


    <br>
    <!-- Horizontal Line -->
    <hr/>
    <br>

    <div style="margin-top:20px;margin-left: 50px; color: #4f5459" class="row">
      <h5>
        <h4>Bottom Division</h4>
        <ul style="list-style-type: square;color: #5b6269">
          <li>Item 1</li>
          <li>Item 2</li>
        </ul>
      </h5>
    </div>


    <br>
  </mat-card>
</div>
