<div id="root-container">
  <mat-card id="root-card">
    <br>

    <div style="margin-top:20px;margin-left: 50px; color: #4f5459" class="row">
      <h5>
        <h4>Top Division</h4>
        <ul style="list-style-type: square;color: #5b6269">
          <li>Content 1</li>
          <li>Content 2</li>
        </ul>
      </h5>
    </div>

    <!-- Start Table Division -->
    <div id="table-div">

      <!-- Horizontal Line -->
      <hr/>

      <br><br>
      <div class="row">
        <div class="col-sm-12">

          <!-- Table starts -->
          <ngx-datatable tableClass="table table-striped table-bordered table-hover"
                         [tableId]="'checkboxWithRowDetail'" [data]="data" [options]="options"
                         [columns]="columns"   (checkboxClick)="onCheckboxClick($event)">
                          <!-- if you dont want checkbox -->
                          <!-- delete (checkboxClick)="onCheckboxClick($event)" -->

            <!-- Table title start -->
            <ngx-caption>
              <div class="row">
                <div class="col-sm-12 col-xs-12 col-12 ">
                  <b style="margin-left: 20px">
                    Users
                  </b>
                </div>
              </div>
            </ngx-caption>
            <!-- Table title ends -->

            <!-- Row expansion area starts -->
            <ng-template #rowExpansion let-row let-rowIndex="rowIndex">

              <br><br>
              <h6 style="color: #2f3d4a;margin-left: 50px">Name : {{row.name}}</h6>
              <h6 style="color: #2f3d4a;margin-left: 50px">Company : {{row.company}}</h6>
              <h6 style="color: #2f3d4a;margin-left: 50px">Phone : {{row.phone}}</h6>
              <h6 style="color: #2f3d4a;margin-left: 50px">Country : {{row.country}}</h6>
              <br>

              <button (click)="showEditArray[rowIndex]=!showEditArray[rowIndex]" style="width:100px;margin-left: 50px" class="btn btn-primary">
                <mat-icon>edit</mat-icon>
              </button>
              <button style="width:100px;margin-left: 20px" type="button" class="btn btn-danger">
                <mat-icon>delete</mat-icon>
              </button>

              <br>
              <div style="margin-left: 100px;margin-top: 50px" *ngIf="showEditArray[rowIndex]">
                <label> Name : </label> <input type="text" value="{{row.name}}">
              </div>

              <br>

              <span>.</span>

            </ng-template>


            <!-- Row expansion area ends -->


          </ngx-datatable>
          <!-- Table ends -->

        </div>
      </div>
    </div>
    <!-- End Table Division -->


    <br>
    <!-- Horizontal Line -->
    <hr/>
    <br>

    <div style="margin-top:20px;margin-left: 50px; color: #4f5459" class="row">
      <h5>
        <h4>Bottom Division</h4>
        <ul style="list-style-type: square;color: #5b6269">
          <li>Item 1</li>
          <li>Item 2</li>
        </ul>
      </h5>
    </div>


    <br>
  </mat-card>
</div>
