<div class="content">

  <mat-card class="example-container">
    <mat-card-content>
      <div style="font-weight: bolder; font-size: 25px; text-align: center; ">
        Table Records Management
      </div>
    </mat-card-content>
  </mat-card>
</div>
<br>
<mat-card class="example-container">
  <mat-card-content>
    <div style="text-align: center;">
      <mat-form-field appearance="outline" class="form-fields" style="width: 350px;margin-left: 20px;">
        <mat-label> Select Table</mat-label>
        <mat-select [(ngModel)]="selectedTable"(selectionChange)="onTableSelect()">
          <mat-option *ngFor="let completionTable of completionTableList" [value]="completionTable" >
            {{ completionTable.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button (click)="downloadTable(selectedTable.name)" [disabled]="" mat-raised-button color="primary" style="width: 100px;margin-left: 20px;">Download</button>
    </div>

    <div style="text-align: center;">
      <input type="file" accept=".xlsx" (change)="onFileSelected($event)" style="display: none" #fileInput>
      <button  mat-raised-button color="primary" style="width: 75px;margin-left: 20px;" (click)="browseTable()">Browse</button>
      &nbsp;
      <button mat-raised-button color="primary" style="width: 100px;margin-left: 162px;">Clear Table</button>
      <button mat-raised-button color="primary" style="width: 100px; margin-left: 20px;" (click)="uploadbutton()">Upload</button>
    </div>
    <br>
    <div>
      <mat-label>Last Uploaded File Details</mat-label>
      <mat-label style="margin-left: 20px;" id="selectFileLabel" ></mat-label>
    </div>
    <div>
      <mat-label style="margin-left: 207px;" id="dataCountLabel"></mat-label>

    </div>
