<mat-card>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="'/dashboard'">Dashboard</a></li>
      <li class="breadcrumb-item active">Master data</li>
      <li class="breadcrumb-item active" aria-current="page">Day quota allocation</li>
    </ol>
  </nav>
</mat-card>
<div class="content">
  &nbsp;&nbsp;&nbsp;Day Quota Allocation
</div>
<br>
<div id="root-container">
  <mat-card id="root-card">
    <br>
    <div style="margin-top:20px;margin-left: 50px; color: #4f5459" class="row">
      <label>Service Type &nbsp;&nbsp;: </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;
      <input (change)="changeServiceType($event.target)" type="radio" id="ns" name="ser" value='normal' />
      &nbsp;<label for="ods" value=1>Normal Service </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input  (change)="changeServiceType($event.target)" [checked]="true" type="radio" id="ods" name="ser" value='express'/>
      &nbsp;<label>Express Service</label>
    </div>
    <br />
    <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label>programme &nbsp;: </label>&nbsp;&nbsp;
    <mat-autocomplete #autoProgramme="matAutocomplete" [class]="'blue-bg'">
      <mat-option *ngFor="let filteredProgramme of filteredProgrammes" [value]="filteredProgramme.name">
        {{ filteredProgramme.id }} - {{ filteredProgramme.name }}
      </mat-option>
    </mat-autocomplete>
    <input type="text" id="rtype" [(ngModel)]="programmeInput" (input)="filterProgramme()"
           [matAutocomplete]="autoProgramme" name="ttypem" value="filteredProgramme.id">&nbsp;&nbsp;&nbsp;
    <button mat-raised-button color="primary" *ngIf="showExpressTable || showNormalTable"
            (click)="search()">Search</button>
    <br><br>
    <!-- Start Table Division -->
    <br><br>
    <div id="normal-express-service">
      <div class="row">
        <div class="col-sm-12">
          <!-- Table starts -->
          <ngx-datatable tableClass="table table-striped table-bordered table-hover"
                         [tableId]="'checkboxWithRowDetail'" [data]="data" [options]="options"
                         [columns]="columns" >
            <ngx-caption>
            </ngx-caption>
            <!-- Table title ends -->
            <!-- Row expansion area starts -->
            <ng-template #rowExpansion let-row let-rowIndex="rowIndex">
              <br><br>
              <h6 style="color: #2f3d4a;margin-left: 50px">Programme Name: {{row.programme.name}}</h6>
              <h6 style="color: #2f3d4a;margin-left: 50px">Quota: {{row.quota}}</h6>
              <h6 style="color: #2f3d4a;margin-left: 50px">Status : {{row.archive}}</h6>
              <br>
              <button (click)="showEditArray[rowIndex]=!showEditArray[rowIndex]" style="width:100px;margin-left: 50px" class="btn btn-primary">
                <mat-icon>edit</mat-icon>
              </button>
              <br>
              <div style="margin-left: 100px;margin-top: 50px" *ngIf="showEditArray[rowIndex]">
                <label> Quota: </label> <input type="number" value="{{ element.normal_quota }}" id="ttype2" style="height: 28px;"  (input)="onQuotaInputChange($event.target,'normal')">
              </div>
              <div style="margin-left: 100px;margin-top: 50px" *ngIf="showEditArray[rowIndex]">
                <label> Status: </label> <input type="number" value="{{ element.archive }}"  style="height: 28px;" >
              </div>
              <br>
              <span>.</span>
            </ng-template>
            <!-- Row expansion area ends -->
          </ngx-datatable>
          <!-- Table ends -->
        </div>
      </div>
    </div>
  </mat-card>
</div>
<!-- End Table Division -->
