#ttype{
  width: 300px;
  }
#ttype2{
  width: 200px;
}
#ttype3{
  width: 200px;
}


#rtype{
    width: 400px;
    }
table {
      width: 100%;
    }
.mat-column-programmeId {
      flex: 0 0 10%;
    }

.mat-column-quota {
      flex: 0 0 5%;
    }
.mat-column-status {
      flex: 0 0 10%;
    }
.mat-column-verify {
      flex: 0 0 15%;

    }
