<div class="card">
  <mat-card  class="example-container" >
    <mat-card-content>
      <div style="font-weight: bolder; font-size: 25px; text-align: center; ">
        Day Quota Allocation
      </div>
    </mat-card-content>
  </mat-card>
  <div class="card-body">

    <div class="container" id="htmlData"></div>

    <label>Service Type &nbsp;&nbsp;: </label>
    &nbsp;&nbsp;

    <input (change)="changeServiceType($event.target)" type="radio" id="ns" name="ser" value='normal' />

    &nbsp;<label for="ods" value=1>Normal Service </label>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


    <input  (change)="changeServiceType($event.target)" [checked]="true" type="radio" id="ods" name="ser" value='express'/>

    &nbsp;<label>Express Service</label> <br />
    <br />

    <label>programme &nbsp;: </label>&nbsp;&nbsp;
    <mat-autocomplete #autoProgramme="matAutocomplete" [class]="'blue-bg'">
      <mat-option *ngFor="let filteredProgramme of filteredProgrammes" [value]="filteredProgramme.name">
        {{ filteredProgramme.id }} - {{ filteredProgramme.name }}
      </mat-option>
    </mat-autocomplete>
    <input type="text" id="rtype" [(ngModel)]="programmeInput" (input)="filterProgramme()"
      [matAutocomplete]="autoProgramme" name="ttypem" value="filteredProgramme.id">&nbsp;&nbsp;&nbsp;
    <button mat-raised-button color="primary" *ngIf="showExpressTable || showNormalTable"
      (click)="search()">Search</button>


    <br><br>

    <div *ngIf="showTable">

      <mat-card class="example-container" *ngIf="showNormalTable">
        <br>
        <div class="example-table-container">
<!--           <pre>{{allDayQuotaAllocation|json}}</pre>-->
          <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" class="table table-bordered table-striped table-hover">
              <thead>
              <tr>
                <th style="width: 20%;">Programme Name</th>
                <th>Quota</th>
                <th>Status</th>
                <th>Verify</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let element of allNormalQuota">
                <td style="width: 20%;">{{ element.programme.name}}</td>
                <td><input type="number" value="{{ element.normal_quota }}" id="ttype2"
                   style="height: 28px;"  (input)="onQuotaInputChange($event.target,'normal')"></td>

                <td>{{ element.status }}
                  <select class="form-select" style="height: 28px;"  #statustype (change)="onStatusTypeChange(row,statustype.value)">
                    <option selected disabled>Select Status Type</option>
                    <option value="true">Active</option>
                    <option value="false">Deactive</option>
                  </select></td>
                <td>{{ element.verify }}
                  <button mat-raised-button color="primary" type="submit" (click)="updateQuota(row)">Save</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </mat-card>


                  <!--      <div id="normal-service" *ngIf="showNormalTable">-->
<!--        <table mat-table [dataSource]="dataSource2" class="example-container mat-elevation-z8" matSort>-->

<!--          <ng-container matColumnDef="programmeName">-->
<!--            <th mat-header-cell *matHeaderCellDef mat-sort-header> Programme </th>-->
<!--            <td mat-cell *matCellDef="let element">{{element.programme.name}}</td>-->
<!--          </ng-container>-->

<!--          <ng-container matColumnDef="quota">-->
<!--            <th mat-header-cell *matHeaderCellDef mat-sort-header>Quota</th>-->
<!--            <td mat-cell *matCellDef="let element"> <input type="number" id="ttype2"-->
<!-- style="height: 28px;" (input)="onQuotaInputChange($event.target,'normal')" value="{{element.normal_quota}}"></td>-->
<!--          </ng-container>-->


<!--          <ng-container matColumnDef="status">-->
<!--            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>-->
<!--            <td mat-cell *matCellDef="let row">-->
<!--            <select class="form-select" style="height: 28px;"  #statustype (change)="onStatusTypeChange(row,statustype.value)">-->
<!--              <option selected disabled>Select Status Type</option>-->
<!--              <option value="true">Active</option>-->
<!--              <option value="false">Deactive</option>-->
<!--            </select>-->
<!--          </td>-->
<!--          </ng-container>-->

<!--          <ng-container matColumnDef="verify">-->
<!--            <th mat-header-cell *matHeaderCellDef mat-sort-header>Verify</th>-->
<!--            <td mat-cell *matCellDef="let row" >-->
<!--              <button class="btn btn-outline-secondary btn-sm" mat-raised-button color="primary" type="submit" (click)="updateQuota(row)">Save</button>-->
<!--            </td>-->
<!--          </ng-container>-->


<!--          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->

<!--        </table>-->
<!--        <br>-->
<!--     <div id="paginator-card">-->
<!--       <mat-card>-->
<!--         <mat-paginator #paginator [pageSizeOptions]="[5,10,15]" showFirstLastButtons></mat-paginator>-->
<!--        </mat-card>-->
<!--      </div>-->

      </div>

    <mat-card class="example-container" *ngIf="showExpressTable">
      <br>
      <div class="example-table-container">
        <!--           <pre>{{allDayQuotaAllocation|json}}</pre>-->
        <div class="table-responsive">
          <table datatable [dtOptions]="dtOptions" class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
              <th style="width: 20%;">Programme Name</th>
              <th>Quota</th>
              <th>Status</th>
              <th>Verify</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let element of allDayQuotaAllocation">
              <td style="width: 20%;">{{ element.programme.name }}</td>
              <td>
                <input type="number" id="ttype" value="{{ element.one_day_quota }}"
                       style="height: 28px;" (input)="onQuotaInputChange($event.target,'express')"></td>

              <td>{{ element.verify }}
                <select class="form-select" style="height: 28px;"  #statustype (change)="onStatusTypeChange(row,statustype.value)">
                  <option selected disabled>Select Status Type</option>
                  <option value="true">Active</option>
                  <option value="false">Deactive</option>
                </select></td>
              <td>{{ element.verify }}
                <button mat-raised-button color="primary" type="submit" (click)="updateQuota(row)">Save</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </mat-card>


<!--      <div id="express-service" *ngIf="showExpressTable">-->

<!--        <table mat-table [dataSource]="dataSource1" class="example-container mat-elevation-z8" matSort>-->

<!--          <ng-container matColumnDef="programmeName">-->
<!--            <th mat-header-cell *matHeaderCellDef mat-sort-header> Programme </th>-->
<!--            <td mat-cell *matCellDef="let element">{{element.programme.name}}</td>-->
<!--          </ng-container>-->

<!--          <ng-container matColumnDef="quota" >-->
<!--            <th mat-header-cell *matHeaderCellDef mat-sort-header>Quota</th>-->
<!--            <td mat-cell *matCellDef="let element"> <input type="number" id="ttype3"  (input)="onQuotaInputChange($event.target,'express')"               name="ttypem" value="{{element.one_day_quota}}">-->
<!--              </td>-->
<!--          </ng-container>-->


<!--          <ng-container matColumnDef="status">-->
<!--            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>-->
<!--            <td mat-cell *matCellDef="let row">-->
<!--              <select class="form-select" style="height: 28px;"  #statustype (change)="onStatusTypeChange(row,statustype.value)">-->
<!--                <option selected disabled>Select Status Type</option>-->
<!--                <option value="true">Active</option>-->
<!--                <option value="false">Deactive</option>-->
<!--              </select>-->
<!--            </td>-->
<!--          </ng-container>-->

<!--          <ng-container matColumnDef="verify">-->
<!--            <th mat-header-cell *matHeaderCellDef mat-sort-header>Verify</th>-->
<!--            <td mat-cell *matCellDef="let row" >-->
<!--              <button class="btn btn-outline-secondary btn-sm" mat-raised-button color="primary" type="submit" (click)="updateQuota(row)">Save</button>-->
<!--            </td>-->
<!--          </ng-container>-->


<!--          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->

<!--        </table>-->
<!--        <br>-->
<!--&lt;!&ndash;        <div id="paginator-card1">&ndash;&gt;-->
<!--&lt;!&ndash;         <mat-card>&ndash;&gt;-->
<!--&lt;!&ndash;           <mat-paginator #paginator [pageSizeOptions]="[5,10,15]" showFirstLastButtons></mat-paginator>&ndash;&gt;-->
<!--&lt;!&ndash;       </mat-card>&ndash;&gt;-->
<!--       </div>-->
      </div>
    </div>








